body {
    background-color: #28364e;
    font-family: 'Oswald', sans-serif;
    min-width: fit-content;
}

/* Header */

header {
    margin: 10px;
    padding-bottom: 10px;
    background-color: #0a0d14;
    min-width: fit-content;
    border-radius: 15px;
    border: 1px solid #556ff7;
}

/* Logo-Menú-Inicio sesión-Carro */

.header__div {
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-areas: 
    "a a a a"
    "b b c c"
    "d d d d"
    "e e e e";
}
.header__div > a:first-child {
    grid-area: a;
    justify-self: center;
}
.header__div > a:first-child > img {
    width: 8rem;
    background-color: #ffffff;
    border-radius: 80px;
    border: 2px solid #556ff7;
    margin-top: 15px;
}
.header__div > a:nth-child(2) {
    grid-area: b;
    justify-self: left;
    color: #ffffff;
    margin: 0 0 10px 15px;
    text-decoration: none;
}
.header__div > .icon1 {
    grid-area: c;
    justify-self: right;
    color: #ffffff;
    margin: 0 15px 10px 0;
    text-decoration: none;
}
.header__div > .icon1 > span {
    font-size: large;
    color: #ffffff;
}

/* Buscador de producto */

.header__div > .header__div-div {
    grid-area: d;
    width: 96%;
    height: fit-content;
    border-radius: 10px;
    border: 2px solid #556ff7; 
    background-color: #ffffff;  
    display: flex;
    align-items: center;
    justify-content: left;
}
.header__div > .header__div-div > svg {
    margin: 8px 4px;
}
.header__div > .header__div-div > svg path {
    fill: #556ff7;
}
.header__div > .header__div-div > input {
    border-style: none;
}

/* Nav */

.header__div > nav {
    grid-area: e;
    margin-top: 10px;
    text-align: center;
    background-color: #28364e;
    border-radius: 10px;
    border: solid 1px #556ff7;
}
.header__div > nav > a {
    color: #ffffff;
    text-decoration: none;
}

/* Nav responsive pantallas más pequeñas*/

@media screen and (max-width: 451px) {
    .header__div > nav {
        display: flex;
        flex-direction: column;
    }
    .header__div > nav > a:not(:last-child) {
        border-bottom: 2px solid #556ff7;
        border-radius: 5px;
    }
}

/* Header responsive pantallas grandes*/

@media screen and (min-width: 768px) {

    /* Logo-Menú-Inicio sesión-Carro */

    header {
        padding-bottom: 0;
    }
    .header__div {
        grid-template-areas: 
            "a b b c d"
            "a e e e e";            
    }
    .header__div a > img {
        margin-bottom: 20px;
    }
    .header__div > a:nth-child(2) {
        grid-area: d;
        justify-self: center;        
        margin: 20px 0 0 0;
        font-size: 1.2rem;
    }
    .header__div > .icon1 {
        margin: 20px 0 0 0;
    }
    
    /* Buscador de produtos */
    
    .header__div > .header__div-div {
        grid-area: b;
        margin-left: 35px;
        margin-top: 30px;
        font-size: 1.2rem;
    }

    /* Nav  */

    .header__div > nav {
        height: fit-content;
        align-self: flex-end;
        margin-bottom: 20px;
        font-size: 1.2rem;
    }
}

/* Main */

main {
    background-color: #0a0d14;
    min-width: fit-content;
    border-radius: 15px;
    border: 1px solid #556ff7;
}

/* Jumbotron */

.jumbotron {
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-areas: 
    "a a a a"
    "b b b b"
    "c c c c"
    "d d d d";
}
.jumbotron > .titulo {
    grid-area: a;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.jumbotron > .titulo > a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
    background-color: #28364e;
    border: 1px solid #556ff7;
    border-radius: 15px;
    width: fit-content;
    padding: 0 5px;
}
.jumbotron > .titulo > h1 {
    color: #ffffff;
    margin-top: 15px;
    font-size: 2.5rem;
    text-align: center;
}
.jumbotron > p {
    grid-area: b;
    margin: 15px 20px 25px 20px;
    color: #ffffff;
    text-align: justify;
}

/* Form */

.jumbotron > .form-container {
    grid-area: c;
}
.jumbotron > .form-container > form div {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}
.jumbotron > .form-container > form div > input {
    border: 2px solid #556ff7;
    background-color: #0a0d14;
    margin-bottom: 10px;
    color: #556ff7;
}
.jumbotron > .form-container > form div > input::placeholder {
    color: #556ff7;
    font-size: 1.1rem;
}
.jumbotron > .form-container > form div > button {
    border: 2px solid #556ff7;
    background-color: #28364e;
    color: #556ff7;
    font-size: 1.1rem;
    margin-bottom: 10px;
}
.jumbotron > .form-container > form > p {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-size: small;
}
.jumbotron > .form-container > form p > a {
    color: #ffffff;
    font-size: small;
}
.jumbotron > img {
    grid-area: d;
    width: 95%;
    opacity: 75%;
    position: relative;
    margin: auto;
    border: 2px solid #556ff7;
    border-radius: 15px;
    margin-bottom: 15px;
}

/* Jumbotron responsive */

@media screen and (min-width: 768px) {
    .jumbotron {
        height: 100vh;
        grid-template-areas: 
        "a a d d"
        "b b d d"
        "c c d d";
    }
    .jumbotron > .titulo {
        margin: 25px 0 0 0;
        padding: 0;
        justify-content: space-evenly;
    }
    .jumbotron > .titulo > a {
        font-size: 1.2rem;
    }
    .jumbotron > .titulo > h1 {
        font-size: 3rem;
    }
    .jumbotron > p {
        font-size: 1.5rem;
        text-align: center;
        align-self: flex-start;
    }
    .jumbotron > .form-container {
        align-self: flex-start;
    }
    .jumbotron > .form-container > form div {
        max-width: 400px;
    }
    .jumbotron > .form-container > form div > input::placeholder {
        font-size: 1.2rem;
    }
    .jumbotron > .form-container > form div > button {
        font-size: 1.2rem;
    }
    .jumbotron > .form-container > form > p {
        font-size: medium;
    }
    .jumbotron > .form-container > form p > a {
        font-size: medium;
    }
    .jumbotron > img {
        height: 95%;
        object-fit: cover;
    }
}

/* Catálogo */

.catálogo {
    border-top: 2px solid #556ff7;
    margin-top: 15px;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-areas: 
    "a a a a"
    "b b b b"
    "c c c c";
}
.catálogo > h2 {
    grid-area: a;
    color: #ffffff;
    margin-top: 15px;
    font-size: 2.5rem;
    text-align: center;
}
.catálogo > .categoriaDeProductos {
    grid-area: b;
    margin: 15px 0 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;   
}
.catálogo > .categoriaDeProductos .categorias {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.catálogo > .categoriaDeProductos .categorias img {
    width: 150px;    
}
.catálogo > .categoriaDeProductos .categorias > h3 {
    color: #ffffff;
}

/* Sección Productos */

.catálogo > .productos {
    grid-area: c;
}
.catálogo > .productos .caja1, .caja2, .caja3, .caja4  {
    border: 2px solid #556ff7;
    border-radius: 15px;
}
.catálogo > .productos .caja1 > img {
    width: 100%;
    position: relative;
    margin: auto;
    object-fit: contain;
}
.catálogo > .productos .caja2 > img {
    width: 70%;
    position: relative;
    margin: auto;
    object-fit: contain;
}
.catálogo > .productos .caja3 > img {
    width: 90%;
    position: relative;
    margin: auto;
    object-fit: contain;
}
.catálogo > .productos .caja4 > img {
    width: 70%;
    position: relative;
    margin: auto;
    object-fit: contain;
}
.catálogo > .productos h3 {
    text-align: center;
    font-size: 1.5rem;
}
.catálogo > .productos p {
    font-size: 1rem;
    text-align: justify;
}
.catálogo > .productos a {
    border: 2px solid #556ff7;
}

@media screen and (min-width: 768px) {
    .catálogo > h2 {
        font-size: 3rem;
        margin: 20px;
    }
    .catálogo > .categoriaDeProductos {
        margin: 25px 0 25px 0;
        flex-direction: row;
        flex-wrap: wrap; 
    }
}

/* Sección de Marcas */

.marcas {
    padding: 0;
    border-top: 2px solid #556ff7;
    margin-top: 15px;
}
.marcas > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.marcas > div > h2 {
    color: #ffffff;
    margin-top: 15px;
    font-size: 2.5rem;
    text-align: center;
}
.marcas > div > button {
    border: 2px solid #556ff7;
    background-color: #28364e;
    margin-top: 15px;
    margin-bottom: 8px;
    color: #556ff7;
    font-size: 1.2rem;
}
.marcas > .imagenGrid {
    --gap: 16px;
    --num-cols: 1;
    --row-height: 150px;
    box-sizing: border-box;
    padding: var(--gap);
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}
.marcas > .imagenGrid > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: #556ff7;
    border-radius: 15px;
    border: 1px solid #ffffff;
}

@media screen and (min-width: 768px) {
    .marcas > div:first-child {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .marcas > div > h2 {
        font-size: 3rem;
        border-right: 4px solid #556ff7;
        border-left: 4px solid #556ff7;
        padding-right: 10px;
        padding-left: 10px;
    }
    .marcas > div > button {
        font-size: 1.4rem;
    }
    .marcas > .imagenGrid {
        --gap: 16px;
        --num-cols: 4;
        --row-height: 200px;
    }
}